<template>
  <div class="config-layout">
    <el-form :inline="true" :model="layout">
      <el-form-item label="页面类型">
        <el-select v-model="layout.type" @change="changePageType(layout.type)">
          <el-option label="表格" value="table"></el-option>
          <el-option label="表单" value="form"></el-option>
          <!-- <el-option label="时间线" value="Timeline"></el-option> -->
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-popconfirm title="确认清空吗？" @confirm="clearPanel">
            <el-button slot="reference">清空</el-button>
        </el-popconfirm>
      </el-form-item>
    </el-form>
    <div class="field-item" 
      v-for="(field, index) in layout.fields" :key="field.label" 
      @click="activeItem(index, field)"
      :class="activeIndex===index?'active-item':''"
    >
      <el-input v-if="layout.type==='form'" :value="field.title" readonly></el-input>
      <el-input v-else :value="field.label" readonly></el-input>
      <i class="el-icon-remove-outline operator-btn" @click="removeField(index)"></i>
      <i class="el-icon-circle-plus-outline operator-btn" @click="addField(index)"></i>
    </div>
    <el-button class="add-field-btn" type="primary" @click="addField(layout.fields.length-1)">添加字段</el-button>
    <el-dialog title="添加字段" :visible.sync="dialogFormVisible">
      <el-form :model="dialogForm">
        <el-form-item label="字段类型">
          <el-select v-model="dialogForm.fieldType">
            <el-option label="单行文本" value="input"></el-option>
            <el-option label="密码" value="password"></el-option>
            <el-option label="多行文本" value="textarea"></el-option>
            <el-option label="静态下拉框" value="StaticSelect"></el-option>
            <el-option label="动态下拉框" value="select"></el-option>
            <el-option label="级联选择" value="cascader"></el-option>
            <el-option label="单选" value="radio"></el-option>
            <el-option label="多选" value="checkbox"></el-option>
            <el-option label="日期选择" value="DatePicker"></el-option>
            <el-option label="日期范围选择" value="DatePickerRange"></el-option>
            <el-option label="时间选择" value="TimePicker"></el-option>
            <el-option label="时间范围选择" value="TimePickerRange"></el-option>
            <el-option label="日期范围选择" value="DatePickerRange"></el-option>
            <el-option label="颜色选择" value="ColorPicker"></el-option>
            <el-option label="评分" value="rate"></el-option>
            <el-option label="滑块" value="slider"></el-option>
            <el-option label="上传" value="upload"></el-option>
            <el-option label="富文本" value="editor"></el-option>
            <el-option label="开关" value="switch"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addFormField(dialogForm)">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
const formFields = require('../js/FormField')
export default {
  name: 'ConfigLayout',
  data(){
    return{
      layout: {
        type: '',
        fields: []
      },
      dialogForm:{
        fieldType: ''
      },
      dialogFormVisible: false,
      dialogTableVisible: false,
      activeIndex:0
    }
  },
  created(){
    if(localStorage.getItem('config')){
      const config = JSON.parse(localStorage.getItem('config'))
      this.layout.type = config.type
      if(config.type==='form'){
        this.layout.fields = config.rule ||[]
      }else{
        this.layout.fields = config.columns || []
      }
      const len = this.layout.fields.length
      if(len>0){
        this.activeItem(len-1, this.layout.fields[len-1])
      }else{
        this.activeItem(0, this.layout.fields[0])
      }
    }
    if(this.layout.type){
      this.$store.commit('SET_PAGE_TYPE', this.layout.type)
    }
  },
  methods: {
    addField(index){
      switch(this.layout.type){
        case 'form':
          this.dialogFormVisible=true
          this.dialogForm.index = index
          break
        case 'table':
          this.addTableField(index)
          break
        default: 
          this.$message({
            type: 'warning',
            message: '请先选择页面类型'
          })
      }
    },
    removeField(index){
      this.layout.fields.splice(index, 1)
      if(index>0){
        this.activeItem(index-1, this.layout.fields[index-1])
      }else{
        this.$store.commit('SET_ACTIVE_DATA', {})
      }
    },
    addFormField(form){
      const len = this.layout.fields.length
      this.layout.fields.splice(form.index+1, 0, {...formFields[form['fieldType']], ...{id: len}})
      this.dialogFormVisible = false
      this.activeItem(len, this.layout.fields[len])
    },
    addTableField(index){
      const len = this.layout.fields.length
      this.layout.fields.splice(index+1,0,{
        "id": len,
        "prop": "prop",
        "label": `字段${len+1}`,
        "sortable": false,
        })
      this.activeItem(len, this.layout.fields[len])
    },
    activeItem(index, field){
      const len = this.$store.state.fields.length
      if(index<len){
        this.activeIndex = index
        this.activeData = field
        this.$store.commit('SET_ACTIVE_INDEX', index)
        this.$store.commit('SET_ACTIVE_DATA', field)
      }
    },
    changePageType(value){
      this.$store.commit('SET_PAGE_TYPE', value)
      this.clearPanel()
    },
    clearPanel(){
      this.layout.fields = []
      this.$store.commit('SET_FIELDS', this.layout.fields)
      this.$store.commit('SET_ACTIVE_DATA', {})
      localStorage.removeItem('config')
    }
  },
  watch: {
    'layout.fields': {
        handler(v){
          this.$store.commit('SET_FIELDS', v)
        }
    },
  }


}
</script>

<style lang='scss'>
  .config-layout{
    .field-item{
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      &:hover{
        background: #ebebeb;
      }
      .operator-btn{
        font-size: 2rem;
        margin-left: 1rem;
        &:hover{
          color: #037aff;
          cursor: pointer;
        }
      }
    }
    .active-item{
      background: #ebebeb;
    }
    .add-field-btn{
      margin-top: 1.5rem;
    }
  }
</style>