<template>
  <div class="form-field-attr">
    <el-form :model="form" label-width="30%">
      <el-form-item label="标签">
        <el-input v-model="form.title"></el-input>
      </el-form-item>
      <el-form-item label="字段">
        <el-input v-model="form.field"></el-input>
      </el-form-item>
      <el-form-item label="默认值">
        <el-input :value="formValue" @input="valueChange"></el-input>
      </el-form-item>
      <el-form-item label="占位文本">
        <el-input v-model="form.props.placeholder"></el-input>
      </el-form-item>
      <el-form-item label="最大输入字符数">
        <el-input v-model="form.props.maxlength"></el-input>
      </el-form-item>
      <el-form-item label="行数" v-if="form.props.type==='textarea'">
        <el-input v-model="form.props.rows"></el-input>
      </el-form-item>
      <el-form-item label="是否必填">
        <el-switch v-model="form.props.required" @change="changeRequired"></el-switch>
      </el-form-item>
      <el-form-item label="显示清空按钮">
        <el-switch v-model="form.props.clearable"></el-switch>
      </el-form-item>
      <el-form-item label="禁用">
        <el-switch v-model="form.props.disabled"></el-switch>
      </el-form-item>
      <el-form-item label="只读">
        <el-switch v-model="form.props.readonly"></el-switch>
      </el-form-item>
    </el-form>
    <div v-if="form.validate">
      <el-divider>正则校验</el-divider>
      <el-link type="primary" :underline="false" @click="addValidate"><i class="el-icon-circle-plus-outline"></i>添加规则</el-link>
      <el-form :model="patternForm" label-width="20%" v-if="form.validate.length">
        <div v-for="(validate, index) in form.validate" :key="index" class="validate-item" @mouseenter="validate.showDelete=true" @mouseleave="validate.showDelete=false">
          <div v-if="'pattern' in validate">
            <el-form-item label="表达式">
              <el-input v-model="validate.pattern"></el-input>
            </el-form-item>
            <el-form-item label="不匹配提示">
              <el-input v-model="validate.message"></el-input>
            </el-form-item>
            <el-link v-if="validate.showDelete" :underline="false" type="info" @click="patternValidates.splice(index, index+1)"><i class="el-icon-remove-outline"></i>删除规则</el-link>
          </div>
        </div>
      </el-form>
    </div>
    <div v-if="hasOptions.includes(form.type)">
      <el-divider>选项</el-divider>
      <ul>
        <li v-for="(option, index) in form.options" :key="index" class="option-item">
          <el-input v-model="option.label" placeholder="请输入选项标签"></el-input>
          <el-input v-model="option.value" placeholder="请输入选项值"></el-input>
          <i class="el-icon-remove-outline option-btn" @click="removeOption(index)"></i>
          <i class="el-icon-circle-plus-outline option-btn" @click="addOption(index)"></i>
        </li>
      </ul>
      <el-link type="primary" :underline="false" @click="addOption(form.options.length)"> <i class="el-icon-circle-plus-outline"></i>添加选项</el-link>
    </div>
  </div>
</template>

<script>
import {deepClone} from '@/js/utils'
export default {
  name: '',
  props: ['config'],
  data(){
    return {
      form: {
      },
      patternForm:{},
      hasOptions: ['select', 'radio', 'checkbox', 'switch']  //包含有选项的类型
    }
  },
  created(){
    this.form = this.$store.state.activeData
  },
  computed:{
    formValue(){
      if(this.form.value instanceof Array){
        return this.form.value.join(',')
      }else{
        return this.form.value
      }
    },
  },
  methods:{
    valueChange(value){
      if(value.indexOf(',')>-1){
        this.form.value = value.split(',')
      }else{
        this.form.value = value
      }
    },
    changeValidate(value){
      return JSON.parse(value)
    },
    addValidate(){
      this.form.validate.push({
        pattern: '',
        message: '',
        showDelete: true
      })
    },
    changeRequired(value){
      if(value){
        this.form.validate.push({
          "required": true,
            "message": `${this.form.props.placeholder}`,
            "trigger": "blur"
        })
      }else{
        for(let i=0; i<this.form.validate.length; i++){
          if('required' in this.form.validate[i]){
            this.form.validate.splice(i, 1)
            i--
          }
        }
      }
    },
    removeOption(index){
      this.form.options.splice(index,1)
    },
    addOption(index){
      this.form.options.splice(index+1, 0, {
        label: '',
        value: ''
      })
    }
  },
  watch:{
    '$store.state.activeData':{
      handler(v){
        const index = this.$store.state.activeIndex
        if(this.$store.state.pageType==='form'&&this.config.rule[index]){
          this.form = deepClone(this.config.rule[index])
        }else if(this.$store.state.pageType==='table'&&this.config.columns[index]){
          this.form = deepClone(this.config.columns[index])
        }else{
          this.form = deepClone(v)
        }
      },
      deep: true
    },
    'form': {
      handler(v){
        const config = deepClone(this.config)
        const index = this.$store.state.activeIndex
        config.rule[index] = v
        this.$emit('update:config', config)
      },
      deep: true
    },
    'patternValidates': {
      handler(v){
        this.form.validate = [...this.requireValidate, ...v]
      },
      deep: true
    }
  }
}
</script>

<style lang='scss'>
  .form-field-attr{
    .validate-item{
      padding: 10px;
      &:hover{
        background: #ebebeb;
      }
    }
    .option-item{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .el-input{
        margin-right: 10px;
      }
      .option-btn{
        font-size: 1.5rem;
        margin-right: 10px;
        &:hover{
          color: #037aff;
        }
      }
    }
  }
</style>