<template>
  <div class="config-home">
    <div class="config-left">
      <config-layout></config-layout>
    </div>
    <div class="config-middle">
      <form-field-attr v-if="$store.state.pageType==='form'&&JSON.stringify($store.state.activeData)!=='{}'" :config.sync="config"></form-field-attr>
      <table-field-attr v-if="$store.state.pageType==='table'&&JSON.stringify($store.state.activeData)!=='{}'" :config.sync="config"></table-field-attr>
    </div>
    <div class="config-right">
      <div class="btn-group">
        <el-link class="copy-json-btn" :underline="false" type="primary"><i class="el-icon-document-copy"></i>复制配置</el-link>
        <el-link :underline="false" type="primary" @click="exportConfigFile"><i class="el-icon-download"></i>保存配置文件</el-link>
      </div>
      <el-input
        type="textarea"
        :autosize="{ minRows: 40, maxRows: 50}"
        :value="finalConfig">
      </el-input>
    </div>
  </div>
</template>

<script>
import beautify from 'js-beautify'
import ConfigLayout from './ConfigLayout'
import FormFieldAttr from './FormFieldAttr'
import TableFieldAttr from './TableFieldAttr'
import ClipboardJS from 'clipboard'
import { saveAs } from 'file-saver'
export default {
  name: 'Home',
  components: {ConfigLayout, FormFieldAttr, TableFieldAttr},
  data(){
    return {
      config: {
      },
      jsonDrawerVisible: false
    }
  },
  computed:{
    finalConfig(){
      return beautify.js(`exports.config=${JSON.stringify(this.config)}`)
    }
  },
  created(){
    if(localStorage.getItem('config')){
      this.config = JSON.parse(localStorage.getItem('config'))
    }
    window.addEventListener('beforeunload', ()=>localStorage.setItem('config', JSON.stringify(this.config)), {once:true})
  },
  mounted(){
    const clipboard = new ClipboardJS('.copy-json-btn', {
      text: trigger => {
        this.$message({
          type: 'success',
          message: '代码已复制到剪切板，可粘贴。',
        })
        return this.finalConfig
      }
    })
    clipboard.on('error', e => {
      this.$message.error('代码复制失败')
    })
  },
  methods:{
    exportConfigFile(){
      this.$prompt('文件名:', '导出文件', {
        inputValue: `${+new Date()}.js`,
        closeOnClickModal: false,
        inputPlaceholder: '请输入文件名'
      }).then(({ value }) => {
        if (!value) value = `${+new Date()}.js`
        const codeStr = this.finalConfig
        const blob = new Blob([codeStr], { type: 'text/plain;charset=utf-8' })
        saveAs(blob, value)
      })
    }
  },
  watch: {
    '$store.state.fields': {
      handler(v){
        if(this.$store.state.pageType==='form'){
          this.$set(this.config, 'rule', v)
        }else{
          this.$set(this.config, 'columns', v)
        }
      }
    },
    '$store.state.pageType': {
      handler(v){
        this.config = {}
        this.$set(this.config, 'type', v)
      }
    }
  }
}
</script>

<style lang='scss'>
  .config-home{
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .config-left, .config-middle{
    width: 30%;
    height: 100%;
    border-right: 1px #ebebeb solid;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
      }
  }
  .config-right{
    flex: 1;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
      }
    .btn-group{
      margin-bottom: 10px;
      a{
        margin-right: 10px;
      }
    }
    .el-textarea .el-textarea__inner{
      border: none;
    }
  }
</style>