<template>
  <div class="table-field-attr">
    <el-divider>列配置</el-divider>
     <el-form :model="form" label-width="30%">
      <el-form-item label="标签">
        <el-input v-model="form.label"></el-input>
      </el-form-item>
      <el-form-item label="字段">
        <el-input v-model="form.prop"></el-input>
      </el-form-item>
      <el-form-item label="是否排序">
        <el-switch v-model="form.sortable"></el-switch>
      </el-form-item>
    </el-form>
    <el-divider>表格属性配置</el-divider>
    <el-form :model="form" label-width="30%">
      <el-form-item label="是否显示操作列">
        <el-switch v-model="showOperator" @change="changeOperatorStatus"></el-switch>
      </el-form-item>
      <el-form-item label="是否显示添加数据按钮">
        <el-switch v-model="addBtn.show" @change="changeAddBtnStatus"></el-switch>
      </el-form-item>
      <el-form-item label="添加按钮内容" v-if="addBtn.show">
        <el-input v-model="addBtn.label"></el-input>
      </el-form-item>
      <el-form-item label="按钮绑定路由" v-if="addBtn.show">
        <el-input v-model="addBtn.path"></el-input>
      </el-form-item>
      <el-form-item label="是否需要过滤条件">
         <el-switch v-model="showFilters" @change="changeShowFiltersStatus"></el-switch>
      </el-form-item>
    </el-form>
    <div class="filter-content" v-if="showFilters">
      <el-divider>过滤条件</el-divider>
      <ul>
        <li v-for="(filter, index) in form.filters.rule" :key="index">
          <el-input v-if="filter.type==='text'" v-model="filter.value"></el-input>
          <el-select v-if="filter.type==='select'" v-model="filter.value"></el-select>
        </li >
      </ul>
      <el-link type="primary" :underline="false" @click="addFilter(form.filters.rule.length, 'text')"> <i class="el-icon-circle-plus-outline"></i>添加输入框</el-link> <br>
      <el-link type="primary" :underline="false" @click="addFilter(form.filters.rule.length, 'select')"> <i class="el-icon-circle-plus-outline"></i>添加下拉框</el-link>
    </div>
  </div>
</template>

<script>
import {deepClone} from '@/js/utils'
export default {
  name: 'TableFieldAttr',
  props: ['config'],
  data(){
    return {
      form: {
        filters: {
          rule: []
        }
      },
      showOperator: false,
      addBtn: {
        "show": false,
        "label": "新增账号",
        "path": "/edit-account"
      },
      showFilters: false
    }
  },
  watch:{
    '$store.state.activeData':{
      handler(v){
        const index = this.$store.state.activeIndex
        if(this.config.columns[index]){
          this.form = deepClone(this.config.columns[index])
        }else{
          this.form = deepClone(v)
        }
        this.form = {...this.form, ...{filters: {rule: []}}}
      },
      deep: true
    },
    form: {
      handler(v){
        const config = deepClone(this.config)
        const index = this.$store.state.activeIndex
        config.columns[index] = v
        this.$emit('update:config', config)
      },
      deep: true
    }
  },
  methods:{
    changeOperatorStatus(value){
      const config = deepClone(this.config)
      this.showOperator = value
      config.showOperator = value
      this.$emit('update:config', config)
    },
    changeAddBtnStatus(value){
      const config = deepClone(this.config)
      this.addBtn.show = value
      config.addBtn = this.addBtn
      this.$emit('update:config', config)
    },
    changeFiltersStatus(value){
      if(value){

      }
    },
    changeShowFiltersStatus(value){
      if(value){
        this.form.filters.rule = []
      }
      this.showFilters = value
    },
    addFilter(index, type){
      let filter = {
        type: type,
        field: '',
        placeholder: '请输入过滤条件'
      }
      if(type==='select'){
        filter = {...filter, ...{
          options: [
            {
              label: '',
              value: ''
            }
          ]
        }}
      }
      this.form.filters.rule.splice(index,0, filter)
    }
  }
}
</script>

<style lang='scss'>
  .table-field-attr{
    .filter-content{
      ul{
        list-style-type: none;
        li{
          margin-bottom: 10px;
        }
      }
    }
  }
</style >